<!-- <div class="container-sm">
    <aside>
        <div class="profile-img-wrapper">
            <img [src]="profileImageUrl" alt="profile">
            <input type="text" [(ngModel)]="profileImageUrl" placeholder="Profile Image URL">
        </div>
        <h1 class="profile-name">
            <input type="text" [(ngModel)]="name" placeholder="Name">
        </h1>
        <div class="text-center">
            <span class="badge badge-white badge-pill profile-designation">
                <input type="text" [(ngModel)]="designation" placeholder="Designation">
            </span>
        </div>
        
        <div class="widget">
            <h5 class="widget-title">Personal Information</h5>
            <div class="widget-content">
                <p>BIRTHDAY : <input type="text" [(ngModel)]="birthday" placeholder="Birthday"></p>
                <p>WEBSITE : <input type="text" [(ngModel)]="website" placeholder="Website"></p>
                <p>PHONE : <input type="text" [(ngModel)]="phone" placeholder="Phone"></p>
                <p>MAIL : <input type="text" [(ngModel)]="email" placeholder="Email"></p>
                <p>Location : <input type="text" [(ngModel)]="location" placeholder="Location"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="widget card">
                    <div class="card-body">
                        <div class="widget-content">
                            <h5 class="widget-title card-title">Interests</h5>
                            <input type="text" [(ngModel)]="interest1" placeholder="Interest 1">
                            <input type="text" [(ngModel)]="interest2" placeholder="Interest 2">
                            <input type="text" [(ngModel)]="interest3" placeholder="Interest 3">
                            <input type="text" [(ngModel)]="interest4" placeholder="Interest 4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget card">
                    <div class="card-body">
                        <div class="widget-content">
                            <h5 class="widget-title card-title">Interests</h5>
                            <input type="text" [(ngModel)]="interest5" placeholder="Interest 5">
                            <input type="text" [(ngModel)]="interest6" placeholder="Interest 6">
                            <input type="text" [(ngModel)]="interest7" placeholder="Interest 7">
                            <input type="text" [(ngModel)]="interest8" placeholder="Interest 8">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <main>
       
        <button class="btn btn-outline-primary" type="submit" (click)="updateResume()">Update Resume</button>
    </main>
</div> -->
