<div class="container-sm">
    <aside>
        <div class="profile-img-wrapper">
            <img src="../../../../assets/Images/logo-dash.png" alt="profile">
        </div>
        <h1 class="profile-name">Daisy Murphy</h1>
        <div class="text-center">
            <span class="badge badge-white badge-pill profile-designation">UI / UX Designer</span>
        </div>
        
        <div class="widget">
            <h5 class="widget-title">personal information</h5>
            <div class="widget-content">
                <p>BIRTHDAY : 15 April 1990</p>
                <p>WEBSITE : www.example.com</p>
                <p>PHONE : +1 123 000 4444</p>
                <p>MAIL : your@example.com</p>
                <p>Location : California, USA</p>
                
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="widget card">
                    <div class="card-body">
                        <div class="widget-content">
                            <h5 class="widget-title card-title">INTERESTS</h5>
                            <p>Video games</p>
                            <p>Finance</p>
                            <p>Basketball</p>
                            <p>Theatre</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget card">
                    <div class="card-body">
                        <div class="widget-content">
                            <h5 class="widget-title card-title">INTERESTS</h5>
                            <p>Video games</p>
                            <p>Finance</p>
                            <p>Basketball</p>
                            <p>Theatre</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
            
    </aside>
    <main>
        
        <section class="clients-section">
            <h6 class="section-subtitle">WHAT I DO</h6>
            <h2 class="section-title">CLIENTS</h2>
            
        </section>
        <section class="services-section">
            <h6 class="section-subtitle">WHAT I DO</h6>
            <h2 class="section-title">SERVICES</h2>
            <div class="row">


            </div>
        </section>
        
        
        <button class="btn btn-outline-primary" type="submit" routerLink="update_resume">Update Resume</button>

        
    </main>
</div>