.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.btn-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    background-color: transparent; /* Make background transparent */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Show pointer cursor */
  }