<nav class="navbar navbar-expand-lg bg-body-tertiary p-2 ">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
          <img src="../../../../assets/Images/logo-dash.png" alt="Bootstrap" width="100" height="35">
        </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Jobs</a>
        </li>
        
        <!-- employer -->
        <li class="nav-item" *ngIf="userInfo?.employer?.role == 3">
          <a class="nav-link" routerLink="/create-new-job">Create New Job</a>
        </li>

        <li class="nav-item" *ngIf="userInfo?.employer?.role == 3">
          <a class="nav-link" routerLink="/my-jobs">My Jobs</a>
        </li>

        <li class="nav-item" *ngIf="userInfo?.employer?.role == 3">
          <a class="nav-link" routerLink="/create-new-job">My Profile</a>
        </li>


        <!-- Candidate -->
        
        <li class="nav-item" *ngIf="userInfo?.candidate?.role == 2">
          <a class="nav-link" routerLink="/create-new-job">Applied Jobs</a>
        </li>
        <li class="nav-item" *ngIf="userInfo?.candidate?.role == 2">
          <a class="nav-link" routerLink="/resume">My Resume</a>
        </li>
        
      </ul>
      
      <button *ngIf="!isLoggedIn" class="btn btn-outline-primary" type="submit" routerLink="/login">Login</button>
      <button *ngIf="!isLoggedIn" class="btn btn-outline-success" type="submit" routerLink="/candidate-signup">Signup</button>

      
      <button *ngIf="isLoggedIn" class="btn btn-link" type="button">{{userInfo?.candidate?.email || userInfo?.employer?.email}}</button>

      <button *ngIf="isLoggedIn" class="btn btn-outline-success" type="submit" (click)="logoutUser()" >Log Out</button>
    </div>
  </div>
</nav>


<div class="container-fluid body-background">
  <router-outlet></router-outlet>
</div>


