<div class="container-fluid body-background">
    <div class="container pt-3">
        <div class="row">
            <!-- Left Sidebar -->
            <div class="col-md-3">
                <div class="card"> 
                    <div class="card-body">
                        <h6 class="text-center">All Filters</h6>
                    </div>
                </div> 
            </div>
            
            <!-- Main Content -->
            <div class="col-md-6 job">
                <!-- Your main content here -->
                <div class="row">
                    <div class="col-12">
                        <div class="card"> 
                            <div class="card-body">
                                <!-- Sample job listing content -->
                                <h6 style="margin-bottom: 0;">Java Full Stack Developer ! 5+ YRS</h6>
                                <a>Ford</a>
                                <!-- Other job details -->
                                <div class="row">
                                    <div class="col-4">
                                        <i class="fa fa-suitcase" aria-hidden="true"></i>  1-2 Years  
                                    </div>
                                    <div class="col-4">
                                        <i class="fa fa-inr" aria-hidden="true"></i> 3-5 Lacs  
                                    </div>
                                    <div class="col-4">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> Pune 
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-12">
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="text-muted"> Bachelors or Master s Degree in Computer Science or ...</span>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6">
                                      <small>Few Hours Ago</small>  
                                    </div>
                                    <div class="col-6 text-end">
                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    </div>
                                </div>

                                <div class="action-buttons">
                                    
                                    <button type="button" class="btn btn-primary" routerLink="job-detail">Details</button>
                                    <button type="button" class="btn btn-secondary">Apply Now</button> 
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <!-- Repeat this job listing structure for other jobs -->
                
            </div> 
            
          
            
        </div>
    </div>
</div>
